[Unit]
Description=threat_note procfile

[Service]
Type=simple
ExecStart=/usr/local/bin/honcho start
WorkingDirectory=/opt/threat_note
Restart=on-failure

[Install]
WantedBy=multi-user.target
